:root {
  /* цвет текста */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  /* цвет фона */
  --primary-background: #e5e5e5;
  --sekondary-background: #2f303a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
}
ul[class],
ol[class] {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* header */
.header {
  background: #ffffff;
}
.header__conteiner {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.nav__list,
.contacts__list {
  display: flex;
}

.contacts {
  margin-left: auto;
}

/* Логотип */
.header__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-blue {
  color: #2196f3;
}
.logo-black {
  color: #212121;
}
/* Навигация */
.nav__list,
.contacts__list {
  list-style: none;
}
.nav__link,
.contacts__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item + .nav__item {
  margin-left: 50px;
}
.nav__item {
  margin-left: 93px;
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.nav__link:hover {
  color: #2196f3;
}
.nav__link:focus {
  color: #2196f3;
}

.contacts__svg__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__svg__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  color: #757575;
}

.contacts__link:hover {
  color: #2196f3;
}
.contacts__link:focus {
  color: #2196f3;
}

.nav__portfolio {
  color: #2196f3;
}
/* underline */
.nav__portfolio {
  position: relative;
}
.nav__portfolio::after {
  content: "";
  position: absolute;
  right: 0%;
  bottom: -33px;
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* main section  */
.main {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #ececec;
}
.main-conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* кнопки */
.list-of-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-li + .button-li {
  margin-left: 8px;
}
.button-hero {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: 0px;
  background: #f5f4fa;
  transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

.maine-section-portfolio li {
  list-style: none;
}
.list-of-buttons button:hover {
  background: #2196f3;
}
.list-of-buttons button:focus {
  background: #2196f3;
}

.list-of-buttons .button-li :hover {
  color: #ffffff;
}
.list-of-buttons .button-li :focus {
  color: #ffffff;
}
.portfolio {
  color: #2196f3;
}

/* сетка */
.maine-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.maine-portfolio {
  list-style: none;
}

.maine-portfolio a {
  text-decoration: none;
}
.li-maine-portfolio {
  display: block;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.maine-portfolio > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-text-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  width: 322px;
  margin-bottom: 4px;
}
.link-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  width: 322px;
}
.div-maine {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

/* выезжающая карточка */
.box-card {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.box-card:hover .overlay-card {
  transform: translatey(-0);
}

.overlay-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
  padding: 63px 24px;
}

.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* подвал */
.footer {
  background: var(--sekondary-background);
}
.conteiner-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.adress-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: block;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.logo-White {
  color: #ffffff;
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  display: inline;
}

.actual-address {
  display: inline;
  color: #ffffff;

  margin-bottom: 9px;
}
.contacts {
  display: inline;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.link-footer {
  margin-left: 70px;
  padding-top: 70px;
  padding-bottom: 97px;
}

.footer-ul {
  display: flex;
  list-style: none;
}
.heading-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: 0px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress {
  margin-bottom: 9px;
}
.footer-mail {
  margin-bottom: 9px;
}

.footer-li + .footer-li {
  margin-left: 10px;
}
.footer-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-link:hover {
  background-color: #2196f3;
}
.footer-link:focus {
  background-color: #2196f3;
}
.conteiner-footer-form {
  margin-left: 93px;
  padding-top: 72px;
  padding-bottom: 94px;
}
.footer-form {
  display: flex;
}

.footer-form input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-form-input ::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 28px;

  align-items: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

.airplaine-svg {
  width: 24px;
  height: 24px;
}
.span-button {
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: #ffffff;
}
